/* BACKGROUND COLORS */

.bg-darkbrown {
  background-color: #2b241f;
}
.bg-lightbrown {
  background-color: #584235;
}
.bg-lightpink {
  background-color: #ffaaae;
}
.bg-darkpink {
  background-color: #de7994;
}
.bg-darkpurple {
  background-color: #6a3e4f;
}

/* FONT COLORS */

.font-white {
  color: #ffffff;
}
.font-beige {
  color: #e0d0c6;
}
.font-lightbrown {
  color: #ffc093;
}
.font-darkbrown {
  color: #2b241f;
}
.font-brown {
  color: #3a2d25;
}
.font-pink {
  color: #de7994;
}
.font-darkpurple {
  color: #6a3e4f;
}
.font-purple {
  color: #944a65;
}

/* FONT FAMILIES */

@font-face {
  font-family: "AfacadFlux";
  src: url("../fonts/AfacadFlux.ttf") format("truetype");
}
.font-body {
  font-family: "AfacadFlux", sans-serif;
}
@font-face {
  font-family: "IBMPlexSerif";
  src: url("../fonts/IBMPlexSerif.ttf") format("truetype");
}
.font-title {
  font-family: "IBMPlexSerif", sans-serif;
}

/* BUTTONS */

.book-now {
  border: 3px solid #6a3e4f !important;
}
