.bg-darkbrown {
  background-color: #2b241f;
}
.bg-lightbrown {
  background-color: #584235;
}

.bg-lightpink {
  background-color: #ffaaae;
}
.bg-darkpink {
  background-color: #de7994;
}

.bg-purple {
  background-color: #6a3e4f;
}
